<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video class="tWeCl" crossorigin="anonymous" playsinline="" poster="https://instagram.fccu17-1.fna.fbcdn.net/v/t51.2885-15/e35/159982145_164381945412259_2153503381068827257_n.jpg?tp=1&amp;_nc_ht=instagram.fccu17-1.fna.fbcdn.net&amp;_nc_cat=107&amp;_nc_ohc=aHu_E_bUA9AAX-Uk9U3&amp;edm=AABBvjUBAAAA&amp;ccb=7-4&amp;oh=c37266eafba6c6110e5f594293bf5944&amp;oe=609CD090&amp;_nc_sid=83d603" preload="none" type="video/mp4" src="blob:https://www.instagram.com/6a5bf1a4-d152-44f1-ab9e-8a6e449060df" style="display: block;" loop=""></video>

    
</body>
</html>